.container{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 5px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    max-width: 400px;
  
}

.whole{
    height: 100vh;
    width: 100vw;
    background-color: #E7EEFA;
}
.activate-btn{
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.login-btn{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}